.squares-container {
  width: 50%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background: black;
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
}

.item {
  background: -webkit-linear-gradient(50deg,#a2a49f,#e0d0c4,#f1dac4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(50deg,#a2a49f,#e0d0c4,#f1dac4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  aspect-ratio: 1/1;
  border: 1px solid black;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  @media screen and (max-device-width: 650px){
    font-size: 2rem;
  }
  @media screen and (max-device-width: 650px){
    font-size: 1.5rem;
  }
  @media screen and (max-device-width: 430px){
    font-size: 1rem;
  }
}

.empty-tile {
  background: -webkit-linear-gradient(270deg,#454545,#212121); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(270deg,#454545,#212121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background: -webkit-linear-gradient(270deg,#edefee,#c9c9c9); /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(270deg,#edefee,#c9c9c9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: none;
}


.warning {
  color: red;
}