.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  color: white;
}

.note {
  font-size: 3rem;
  margin-bottom: 50px;
}

.continue-button {
  margin-left: 40%;
}
