.result-container {
  font-size: clamp(1rem, 75%, 3rem);
  margin-bottom: 50px;
}
.table-header {
  color: salmon;
}

.table-row {
  border: 1px solid green;
  display: flex;
}

.table-item {
  border: 1px solid white;
  padding: 15px;
  width: 25%;

}

.close-button {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  right: 40px;
  cursor: pointer;
  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background-color: salmon;
  }
  &:after {
    top: 50%;
    transform: rotate(45deg);
  }
  &:before {
    top: 50%;
    transform: rotate(-45deg);
  }
}